<?xml version="1.0" encoding="UTF-8"?>
<web-app>

<!-- 检查管理员账户 -->
	<servlet>
		<servlet-name>CheckUserServlet</servlet-name>
		<servlet-class>com.zlx.servlet.CheckUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckUserServlet</servlet-name>
		<url-pattern>/CheckUserServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 添加一个学生成绩 -->
		<servlet>
		<servlet-name>AddUserServlet</servlet-name>
		<servlet-class>com.zlx.servlet.AddUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUserServlet</servlet-name>
		<url-pattern>/addUserServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 删除一个学生成绩 -->
		<servlet>
		<servlet-name>DeleteUserServlet</servlet-name>
		<servlet-class>com.zlx.servlet.DeleteUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUserServlet</servlet-name>
		<url-pattern>/deleteUserServlet</url-pattern>
	</servlet-mapping>

	<!-- 查询一个学生成绩 -->
		<servlet>
		<servlet-name>SelectUserServlet</servlet-name>
		<servlet-class>com.zlx.servlet.SelectUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelectUserServlet</servlet-name>
		<url-pattern>/selectUserServlet</url-pattern>
	</servlet-mapping>


</web-app>